---
import Layout from '../layouts/layout.astro';
---

<Layout title="Home">
  <h1>ברוכים הבאים למיטל</h1>
  <p>כאן ניתן למצוא קבצים שימושיים, אנשי קשר וארכיון מיטלונים</p>
  
  <div class="hero-card">
    <h2>עדכון אחרון</h2>
    <p>מפגש גרעין הבא יתקיים ביום ראשון ה8.3 בזום.</p>
  </div>
</Layout>